<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>I’m a quick learner, full of ideas and always enthusiastic to acquire new knowledge. Because of it, I not only perform well in school but also excel in many other activities, such as singing, drawing and many kinds of sports. I keep training myself and upgrading my programming skills. I hope one day I can make a difference.</p>
</div><!--//summary-->
</section><!--//section-->