<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i><span class="en">Career Profile</span><span class="zh">自述</span></h2>
<div class="summary">
    <p class="en">I’m a quick learner, full of ideas and always enthusiastic to acquire new knowledge. Because of it, I not only perform well in school but also excel in many other activities, such as singing, drawing and many kinds of sports. I keep training myself and upgrading my programming skills. I hope one day I can make a difference.</p>
    <p class="zh">我是一个充满好奇心，饱含学习热情且善于学习的人。因此，我不仅在学校里面成绩优异，同时也在其它方面诸如唱歌，绘画和各种运动中展现“天赋”。我不断地训练自己，提高自己的编程技能。我相信总有一天，这个世界将因我而不同。</p>
</div><!--//summary-->
</section><!--//section-->