 <div class="education-container container-block">
<h2 class="container-block-title"><span class="en">Education</span><span class="zh">教育经历</span></h2>
<div class="item">
    <h4 class="degree"><span class="en">Bachelor's degree in Computer Science and Technology</span><span class="zh">计算机科学与技术专业本科学位</span></h4>
    <h5 class="meta"><span class="en">Renmin University of China</span><span class="zh">中国人民大学</span></h5>
    <div class="time">2008 - 2012</div>
</div><!--//item-->
</div><!--//education-container-->