<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i><span class="en">Experiences</span><span class="zh">工作经历</span></h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><span class="en">Research Assistant</span><span class="zh">研究助理</span></h3>
                            <div class="time"><span class="en">Dec. 2014 - Present</span><span class="zh">2014.12 - 今</span></div>
                        </div><!--//upper-row-->
                        <div class="company"><span class="en">School of Computer, NUS, Singapore</span><span class="zh">新加坡国立大学计算机学院</span></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p class="en">I'm working as a research assistant in Database Lab 3 for Professor Ooi Bengchin. I built several systems here, including </p>
                        <p class="zh">我在数据库第三实验室为黄铭钧教授做研究助理，主要工作是系统开发，包括以下几个系统：</p>
                        <ul class="en">
                            <li>IDAT, an interactive data analysis tool target on data visualization.</li>
                            <li>Rafiki, a DLaaS (deep learning as a service) system. Which encourage users to share and run deep learning models on the cloud.</li>
                            <li>Timon, a flexible general crowd-sourcing system.</li>
                            <li>The website of the database lab.</li>
                        </ul>
                        <ul class="zh">
                            <li>IDAT, 一个交互式数据探索，可视化分析工具.</li>
                            <li>Rafiki, 一个深度学习作为服务的云系统，鼓励用户在云端分享深度学习模型.</li>
                            <li>Timon, 一个通用灵活的众包系统.</li>
                            <li>实验室的门户网站.</li>
                        </ul>
                        <p class="en">Also, I am one of the contributor of Apache SINGA, a general deep learning system built by the Lab.</p>
                        <p class="zh">同时，我也是Apache SINGA深度学习系统的开发者之一</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><span class="en">Test Developer</span><span class="zh">测试开发工程师</span></h3>
                            <div class="time"><span class="en">Oct 2012 - Oct. 2014</span><span class="zh">2012.10 - 2014.10</span></div>
                        </div><!--//upper-row-->
                        <div class="company"><span class="en">58.com, Beijing</span><span class="zh">58同城，北京</span></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p class="en">58.com Inc. is a company that operates an online marketplace for serving local merchants and consumers in China. Its user scale is about 50 millions.</p>
                        <p class="zh">58同城是一个互联网上市公司，是中国最大的专业分类信息网站，用户规模为5000万左右。</p>
                        <p class="en">I worked as a test developer and built TMMP, a "Test Management and Monitor Platform" used by testers and developers within the company <br/>
                            Also, in the second year, I was also partially responsible for training new employees of the testing department.   
                        </p>  
                        <p class="zh">我的主要职责是开发TMMP系统（测试管理监控平台），该平台为公司内部测试及开发工程师使用。同时，在第二年，我也负责部分的测试部新人培训工作。</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><span class="en">Front-end Developer</span><span class="zh">前端开发工程师</span></h3>
                            <div class="time"><span class="en">Sep. 2013 - Feb. 2014</span><span class="zh">2013.9 - 2014.2</span></div>
                        </div><!--//upper-row-->
                        <div class="company"><span class="en">Sortime.com, Beijing</span><span class="zh">朝夕日历，北京</span></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p class="en">Sortime.com Inc. is a start-up IT company which aims to build a social calendar that enables users to share their schedules and experience. I worked part-time as the key front-end engineer.</p>  
                        <p class="zh">朝夕日历是一个互联网新创团队，旨在开发一款社交日历帮助用户分享及计划日程。我在兼职在团队中负责前端开发的工作。</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><span class="en">Intern</span><span class="zh">实习生</span></h3>
                            <div class="time"><span class="en">Dec. 2011 - Apr. 2012</span><span class="zh">2011.12 - 2012.4</span></div>
                        </div><!--//upper-row-->
                        <div class="company"><span class="en">Soso Mobile Map, Tencent Ltd, Beijing</span><span class="zh">搜搜手机地图，腾讯，北京</span></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p class="en">Soso mobile map is a map App developed by Tencent, the largest IT company in China. As a trainee, my job was to maintain the official website of the soso mobile map, which was written in html5.</p>  
                        <p class="zh">搜搜手机地图是中国最大的互联网公司腾讯的子部门，作为一个实习生，我的工作是负责手机地图官网的维护，网站以html5技术实现。</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title"><span class="en">Chairman</span><span class="zh">主席</span></h3>
                            <div class="time"><span class="en">May. 2010 - May. 2011</span><span class="zh">2010.5 - 2011.5</span></div>
                        </div><!--//upper-row-->
                        <div class="company"><span class="en">Computer Association of RUC, Beijing</span><span class="zh">中国人民大学计算机学会，北京</span></div>
                    </div><!--//meta-->
                    <div class="details">
                        <p class="en">The CA of RUC has about 200 members and we organized lots of events, such as "Computer Science Lectures" and "Computer Salon".</p>  
                        <p class="zh">中国人民大学计算机学会有200多名会员，在我任内，我组织了一系列的活动，如“计算机科学讲座”和“计算机沙龙”</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->