<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Research Assistant</h3>
                            <div class="time">Dec. 2014 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">School of Computer, NUS, Singapore</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I'm working as a full-stack developer in Database Lab 3 for Professor Ooi Bengchin. I built several systems here, including 
                        <ul>
                            <li>IDAT, an interactive data analysis tool target on data visualization.</li>
                            <li>Rafiki, a DLaaS (deep learning as a service) system. Which encourage users to share and run deep learning models on the cloud.</li>
                            <li>Timon, a flexible general crowd-sourcing system.</li>
                            <li>The website of the database lab.</li>
                        </ul>
                        Also, I am one of the contributor of Apache SINGA, a general deep learning system built by the Lab.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Test Developer</h3>
                            <div class="time">Oct 2012 - Oct. 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">58.com, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>58.com Inc. is a company that operates an online marketplace for serving local merchants and consumers in China. Its user scale is about 50 millions.</p>
                        <p>I worked as a test developer and built TMMP, a "Test Management and Monitor Platform" used by testers and developers of the company <br/>
                            Also, in the second year, I was also responsible for the training classes of new employees.   
                        </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Front-end Developer</h3>
                            <div class="time">Sep. 2013 - Feb. 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Sortime.com, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Sortime.com Inc. is a start-up IT company which aims to build a social calendar that enables users to share their schedules and experience. I worked part-time as the key front-end engineer, dealing with html, css and javascript.</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Intern</h3>
                            <div class="time">Dec. 2011 - Apr. 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Soso Mobile Map, Tencent Ltd, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Soso mobile map is a map App developed by Tencent, the largest IT company in China. As a trainee, my job was to maintain the official website of the soso mobile map, which was written in html5.</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->