<section class="section honor-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Selected Honors</h2>
                <div class="item">
                    <span class="honor-title">Topcoder of 58.com Inc. (top 6 among 100 programers)</span> 
                    <span class="honor-tagline pull-right">May. 2014</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title">National motivational scholarship (top 10% among the students at RUC)</span>  
                    <span class="honor-tagline pull-right">2009-2011</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title">Triple-A student of Beijing (top 2% among the students at RUC)</span>  
                    <span class="honor-tagline pull-right">2009-2010</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title">National applied physics contest of middle school, Top 1 in Jiangxi province.</span> 
                    <span class="honor-tagline pull-right">Jan. 2003</span>
                </div><!--//item-->
            </section><!--//section-->