<section class="section honor-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i><span class="en">Selected Honors</span><span class="zh">部分荣誉</span></h2>
                <div class="item">
                    <span class="honor-title en">Topcoder of 58.com Inc. (top 6 among about 100 programers)</span> 
                    <span class="honor-title zh">58同城技术部编程大赛 (第6名，共100多名参赛)</span> 
                    <span class="honor-tagline pull-right en">May. 2014</span>
                    <span class="honor-tagline pull-right zh">2014.5</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title en">National motivational scholarship (top 10% among the students at RUC)</span>  
                    <span class="honor-title zh">国家励志奖学金(人民大学前10%)</span>  
                    <span class="honor-tagline pull-right">2009-2011</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title en">Triple-A student of Beijing (top 2% among the students at RUC)</span>  
                    <span class="honor-title zh">北京市三好学生 (人民大学前2%)</span>  
                    <span class="honor-tagline pull-right">2009-2010</span>
                </div><!--//item-->
                <div class="item">
                    <span class="honor-title en">National applied physics contest of middle school, Top 1 in Jiangxi province.</span> 
                    <span class="honor-title zh">国家初中应用物理竞赛，江西赛区第一名</span> 
                    <span class="honor-tagline pull-right en">Jan. 2003</span>
                    <span class="honor-tagline pull-right zh">2003.1</span>
                </div><!--//item-->
            </section><!--//section-->