<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>As a full-stack developer, I developed several systems during my career. Below lists some of them:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#">Rafiki</a></span> - 
                    <span >A Deep Learning as a Service system built on top of Apache SINGA. I'm the lead developer.</span><br/>
                    <span class="project-tagline">django, angularJs, Docker, Flask, SINGA</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Timon</a></span> - 
                    <span >A general and flexible crowdsourcing system. I'm the lead developer.</span><br/>
                    <span class="project-tagline">django, angularJs</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IDAT</a></span> - 
                    <span >A Interactive Data Analysis Tool. I'm the lead developer.</span><br/>
                    <span class="project-tagline">D3.js, Jmpress, Jquery, Highcharts, Handlebars, Bootstrap</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">SINGA</a></span> - 
                    <span >A general distributed deep learning system. I'm one of the contributors.</span><br/>
                    <span class="project-tagline">D3.js, Jmpress, Jquery, Highcharts, Handlebars, Bootstrap</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMMP</a></span> - 
                    <span >A Test Management and Monitoring Platform. I'm the lead developer.</span><br/>
                    <span class="project-tagline">Java, Argo, Gaea, Jquery</span>
                </div><!--//item-->
            </section><!--//section-->