<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i><span class="en">Projects</span><span class="zh">项目经历</span></h2>
                <div class="intro">
                    <p class="en">As a full-stack developer, I developed several systems during my career. Below lists some of them:</p>
                    <p class="zh">作为一个全栈工程师，我开发过许多系统，以下是其中的一些:</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#">Rafiki</a></span> - 
                    <span class="en">A Deep Learning as a Service system built on top of Apache SINGA. I'm the lead developer.</span>
                    <span class="zh">一个深度学习作为服务的云端系统，我是设计开发者。</span><br/>
                    <span class="project-tagline">django, angularJs, Docker, Flask, SINGA</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Timon</a></span> - 
                    <span class="en">A general and flexible crowdsourcing system. I'm the lead developer.</span>
                    <span class="zh">一个灵活通用的众包系统，我是设计开发者。</span><br/>
                    <span class="project-tagline">django, angularJs</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">IDAT</a></span> - 
                    <span  class="en">A Interactive Data Analysis Tool. I'm the lead developer.</span>
                    <span  class="zh">一个交互式数据探索，可视化分析工具.我是设计开发者。</span><br/>
                    <span class="project-tagline">D3.js, Jmpress, Jquery, Highcharts, Handlebars, Bootstrap</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Apache SINGA</a></span> - 
                    <span  class="en">A general distributed deep learning system. I'm one of the contributors.</span>
                    <span  class="zh">一个通用的分布式深度学习系统，我是开发者之一.</span><br/>
                    <span class="project-tagline">C++, CUDA, CUDNN, Protobuf, Python, Cmake, Swig</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">TMMP</a></span> - 
                    <span  class="en">A Test Management and Monitoring Platform. I'm the lead developer.</span>
                    <span  class="zh">一个测试管理监控平台，我是设计开发者。</span><br/>
                    <span class="project-tagline">Java, Argo, Gaea, Jquery</span>
                </div><!--//item-->
            </section><!--//section-->